---
import Col from "../layout/Col.astro"
import Row from "../layout/Row.astro"
---
<Row>
  <img src="Sample Photo.jpg" alt="">
  <div>
    <Col>
      <h3>Name</h3>
      <p>Role</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam sint dolorum, praesentium quae tempora nobis fugiat ducimus et? Eaque, maxime! Veniam maiores eligendi minus natus dicta nemo aliquam ratione rerum.</p>
    </Col>
  </div>
</Row>

<style>
  div {
    text-align: left;
  }
  
  img {
    width: 8rem;
    object-fit: cover;
  } 
</style>