---
import Section from "../elements/layout/Section.astro"
import Feature from "../elements/cards/Feature.astro"
import Row from "../elements/layout/Row.astro"
import Col from "../elements/layout/Col.astro"
---

<Section style={{
  justifyContent: 'start',
  minHeight: '0'
}}>
<Col>
  <h2>Features That Drive Your Success</h2>
  <p>Discover the benefits and opportunities that empower your growth and connection.</p>
  <Row>
    <Feature src="" title="Growth Focused Resources">
      Discover expert insights, actionable strategies, and essential tools to accelerate your growth. Success starts here.
    </Feature>
    <Feature src="" title="Growth Focused Resources">
      Connect with ambitious entrepreneurs, exchange ideas, and unlock new possibilities within a dynamic and supportive community.    
    </Feature>
    <Feature src="" title="Growth Focused Resources">
      Dive into conversations with industry leaders. The Inflection Podcast brings you the stories and strategies shaping the future of business.
    </Feature>
  </Row>
</Col>
</Section>