---
import Section from "../elements/layout/Section.astro"
import Col from "../elements/layout/Col.astro"
---

<Section>
  <Col>
    <h1>Your next inflection point awaits</h1>
    <p>An exclusive community for visionaries who see the world through the lens of possibilities.</p>
    <div>
      <a href="#">Apply to join</a>
      <a href="#">Learn More</a>
    </div>
  </div>
  </Col>
</Section>

<style>
  h1 {
    max-width: 20ch;
  }
</style>