---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<layout>
  <h1>Blog</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`}>{post.data.title}</a> - {new Date(post.data.date).toLocaleDateString()}
      </li>
    ))}
  </ul>
</layout>